In [1]:
import pandas as pd
import numpy as np
import tweepy
import requests
import os
import json
import re
import time
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
#get access token and consumer tokens
consumer_key = os.getenv('TWITTER_CONSUMER_KEY', "consumer_key")
consumer_secret = os.getenv('TWITTER_CONSUMER_SECRET', "consumer_secret")
access_token = os.getenv('TWITTER_ACCESS_TOKEN', "access_token")
access_token_secret = os.getenv('TWITTER_ACCESS_TOKEN_SECRET', "access_token_secret")

In [3]:
# create an API object that we can use to gather Twitter data.
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

In [4]:
tweets = []
count = 0

In [8]:
for tweet in tweepy.Cursor(api.search_30_day, q="@dog_rates", maxResults=500, fromDate='2021-11-07', toDate='2021-11-09'):
    print(count)
    count += 1
    try: 
        data = [tweet.created_at, tweet.id, tweet.text, tweet.user._json['screen_name'], tweet.user._json['name'], tweet.user._json['created_at'], tweet.entities['urls']]
        data = tuple(data)
        tweets.append(data)

    except tweepy.TweepError as e:
        print(e.reason)
        continue

    except StopIteration:
        break

TypeError: 'Cursor' object is not iterable

In [6]:
df = pd.DataFrame(tweets, columns = ['created_at','tweet_id', 'tweet_text', 'screen_name', 'name', 'account_creation_date', 'urls'])

In [7]:
df.head()

,created_at,tweet_id,tweet_text,screen_name,name,account_creation_date,urls
0,2021-11-08 23:44:16+00:00,1457856527168122880,RT @dog_rates: This is Sadie and Niki. They ha...,AristideBanceVU,√ústat H√∂ca Van√º Ega,Sun Sep 06 15:26:51 +0000 2009,[]
1,2021-11-08 23:40:49+00:00,1457855658984976390,"@BillyHeathFOX5 @dog_rates Oh my word, what a ...",Gen_K_Hird,Kim Pallante,Sun May 28 16:23:02 +0000 2017,[]
2,2021-11-08 23:38:25+00:00,1457855054736728065,Name a better duo‚Ä¶ ‚Å¶@dog_rates‚Å© https://t.co/6...,daniellemu112,Danielle Uhlhorn,Tue Jul 03 22:18:15 +0000 2012,[]
3,2021-11-08 23:37:09+00:00,1457854738066812942,@HeckinGoodDogs Doesn't have a smaller dog but...,holly_atkins,ùêª‚ô°ùìÅùìÅùìé ùíúùìâùìÄùíæùìÉùìà üêß,Fri Oct 24 18:17:01 +0000 2008,[]
4,2021-11-08 23:36:45+00:00,1457854635289595905,RT @dog_rates: This is Chad. He‚Äôs a very good ...,kaylaburgoa,kay bella,Sat Mar 18 21:34:35 +0000 2017,[]